# libero
timm<1.0.0 
imageio
draccus==0.8.0
einops
huggingface_hub
json-numpy
jsonlines
matplotlib
rich
sentencepiece==0.2.1
# dlimp @ git+https://github.com/moojink/dlimp_openvla
diffusers==0.38.0
imageio
uvicorn
fastapi
json-numpy
wandb==0.19.11
protobuf==5.29.6